/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: lightblue;
  text-align: center;
}

a{
  color: black;
}
h1{
  text-decoration: underline;
  font: 1em "Fira Sans", sans-serif;
}
p{
  font-size: 16px;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: slateblue;
    text-align: center;
  }
  a{
    color: black;


  }

  h1{
    text-decoration: underline;
    font: 2em "Fira Sans", sans-serif;
  }
  p{
    font-size: 18px;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: aquamarine;
    text-align: center;
  }
  a{
    color: black;
  }
  h1{
    text-decoration: underline;
    font: 2em "Fira Sans", sans-serif;
  }
  p{
    font-size: 18px;
  }
  nav a
  {
    background: lightblue;
    margin-left: 5px;
    margin-right: 5px;
    border: 7px solid lightblue;
  }
}
