/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: red;
  text-align: center;
}

a{
  color: black;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: gray;
  }
  a{
    color: black;

  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: aquamarine;
    text-align: left;
  }
  a{
    color: black;
  }
  h1{
    font: Times, serif;
    font
  }
#Logo{
    float: left
  }
}
